@page "/authorization"

@using Tenders.Core.Entities
@using Tenders.Core.Interfaces
@inject IJSRuntime JsRuntime;
@inject MongoDbConnection Connection;
@inject NavigationManager Manager;
@inject ILocalStorageService StorageService;

<PageTitle>Authorization</PageTitle>
<div class="center-screen__jui">
    <h1>Authorization</h1>

    <EditForm Model="typeof(User)" OnValidSubmit="TryToFindUser">
        <label>Login:</label> <InputText class="text-field__input" @bind-Value="@_login" @onchange="@((ChangeEventArgs e) => _login = e.Value?.ToString())"></InputText>
        <label>Password:</label> <InputText class="text-field__input" type="password" @bind-Value="@_password" @onchange="@((ChangeEventArgs e) => _password = e.Value?.ToString())"></InputText>
        <br/>
        <button class="button" type="submit">Sign in</button>
    </EditForm>
</div>

@code {
    string? _login;
    string? _password;

    private async Task TryToFindUser()
    {
        User? foundedUser;

        if (String.IsNullOrEmpty(_login) || String.IsNullOrEmpty(_password))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Not all fields are written!");
            return;
        }

        foundedUser = Connection.FindByLogin(_login);

        if (foundedUser is null)
        {
            await JsRuntime.InvokeVoidAsync("alert", "No such user in DB!");
            return;
        }

        if (foundedUser.Password == _password)
        {
            Connection.User = foundedUser;
            Manager.NavigateTo("/");
            await StorageService.SetAsync<User>("Authorization", foundedUser);
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Incorrect password!");
        }

        StateHasChanged();
    }

}